<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/layout/header.css">
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <title>헤더</title>
    <script src="../../js/layout/header.js" defer></script>
</head>
<body>
    <header>
    <a class="home_btn" href="#">
        <img src="../../image/logo/header-logo.png" height="204" width="204" alt="로고">
    </a>

    <ul class="main_menu">
        <li>
            <a href="">Women</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">반팔</a>
                            <a href="#">바람막이/집업</a>
                            <a href="#">맨투맨/후디</a>
                            <a href="#">긴팔</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠</a>
                            <a href="#">브라탑</a>
                            <a href="#">스커트/원피스</a>
                            <a href="#">트레이닝 셋업</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">Heritage Collection</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">신발</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">라이프스타일</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">샌들/슬리퍼</a>
                            <a href="#">에샤페</a>
                            <a href="#">리트모</a>
                            <a href="#">글리오</a>
                            <a href="#">하레핀</a>
                            <a href="#">인터런</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">용품</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">테니스</a>
                            <a href="#">피클볼</a>
                            <a href="#">백팩</a>
                            <a href="#">숄더/토트백</a>
                            <a href="#">메신저/크로스백</a>
                            <a href="#">짐백</a>
                            <a href="#">슬링백/힙색</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">언더웨어</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">BEST</a>
                            <a href="#">브라+팬티 SET</a>
                            <a href="#">컬렉션</a>
                            <a href="#">쿨웨이브</a>
                            <a href="#">최화정's버터소프트</a>
                            <a href="#">와이어브라</a>
                            <a href="#">노와이어브라</a>
                            <a href="#">브라탑</a>
                            <a href="#">팬티</a>
                            <a href="#">사각드로즈</a>
                            <a href="#">파자마</a>
                            <a href="#">이지웨어</a>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">스포츠</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">트레이닝</a>
                            <a href="#">피트니스</a>
                            <a href="#">피크볼</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="">Men</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">반팔</a>
                            <a href="#">바람막이/집업</a>
                            <a href="#">맨투맨/후디</a>
                            <a href="#">긴팔</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠</a>
                            <a href="#">트레이닝 셋업</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">Heritage Collection</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">신발</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">라이프스타일</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">샌들/슬리퍼</a>
                            <a href="#">에샤페</a>
                            <a href="#">리트모</a>
                            <a href="#">하레핀</a>
                            <a href="#">인터런</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">용품</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">테니스</a>
                            <a href="#">피클볼</a>
                            <a href="#">백팩</a>
                            <a href="#">메신저/크로스백</a>
                            <a href="#">숄더/짐백</a>
                            <a href="#">슬링백/힙색</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">언더웨어</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">BEST</a>
                            <a href="#">패키지</a>
                            <a href="#">쿨웨이브</a>
                            <a href="#">스포르트/스포츠웨어</a>
                            <a href="#">드로즈</a>
                            <a href="#">트렁크</a>
                            <a href="#">스포츠</a>
                            <a href="#">파자마</a>
                            <a href="#">이지웨어</a>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">스포츠</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">트레이닝</a>
                            <a href="#">피크볼</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="">Kids</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">FILA KIDS ❤ TEENIEPING</a>
                            <a href="#">상하희 셋업</a>
                            <a href="#">티셔츠</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠/레깅스</a>
                            <a href="#">바람박이/집업/자켓</a>
                            <a href="#">후드티/맨투맨</a>
                            <a href="#">스커트</a>
                            <a href="#">원피스</a>
                            <a href="#">스윔웨어</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">신발</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">어반크릭샌들</a>
                            <a href="#">리틀에샤페</a>
                            <a href="#">레인저/레인저코어</a>
                            <a href="#">인터런 키즈</a>
                            <a href="#">휠라꾸미</a>
                            <a href="#">샌들</a>
                            <a href="#">운동화(130~160mm)</a>
                            <a href="#">운동화(170~240mm)</a>
                            <a href="#">레인부츠</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">용품</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">26 신학기 책가방</a>
                            <a href="#">책가방</a>
                            <a href="#">보조가방</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="">Tennis</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">New & Featured</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">The Court Is Yours</a>
                            <a href="#">Jaqueline Cristian</a>
                            <a href="#">AXILUS 3 T9</a>
                            <a href="#">Tennis Shoes Guide</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">여성</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">의류</a>
                            <a href="#">신발</a>
                            <a href="#">용품</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#">남성</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">의류</a>
                            <a href="#">신발</a>
                            <a href="#">용품</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="">F.H.C</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">FILA Heritage Collection</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">SS26</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <nav>
        <ul>
            <li>
                <a href="">
                    <i class="fa-solid fa-map-location"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>

</body>
</html>